body{
    background-color: black;
    color: white;
}
.title{
    font-size: 50px;
}
.move-icon{
    height: 50px;
    background-color: black;
}
.move-button{
    background-color: black;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    margin-right: 20px;
    cursor: pointer;
}
.js-result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
.js-moves{
    margin-top: 50px;
}
.js-score{
    margin-top: 60px;
}
.reset-button{
    border: none;
    padding: 8px 13px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}

@media (max-width:767px){
    body{
        background-color:rgb(0, 181, 236);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: 30px;
    }
    
    .move-icon{
        height: 30px;
        background-color: rgb(0, 181, 236);
        color: white;
    }
    .move-button{
        background-color: rgb(0, 181, 236);
        width: 70px;
        height: 70px;
        border-radius: 60px;
        border: 3px solid white;
        margin-right: 10px;
        cursor: pointer;
    }
    .second-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .js-moves,.js-score {
        margin-top: 20px;
    }
    .reset-button{
        background-color: rgb(255, 106, 0);
        color: white;
        margin-top: 30px;
    }
}